.comments-wrap
	.container
		.section-title
			h2.section-title__title Awesome 
				span.section-title__title--bold Clients
			span.section-title__desc See what nice things our clients said about us. 
		.comments
			.comments__item--wrap
				img.comments__user(src="uploads/client-image-1.jpg" alt="client" width="225" height="225")
				.comments__item--right
					p.comments__item__comment “ Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus. ” 
					span.comments__item__author - Jamie Richardson, Founder of Cocoa Media
			.comments__item--wrap
				.comments__item--left
					p.comments__item__comment “ Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus. ” 
					span.comments__item__author - Jamie Richardson, Founder of Cocoa Media
				img.comments__user(src="uploads/client-image-2.jpg" alt="client" width="225" height="225")