.container
	.partners
		.partner__item
			a.partner__item__link(href="#")
				img.partner__item__img(src="uploads/partner-1.png" alt="partner")
		.partner__item
			a.partner__item__link(href="#")
				img.partner__item__img(src="uploads/partner-2.png" alt="partner")
		.partner__item
			a.partner__item__link(href="#")
				img.partner__item__img(src="uploads/partner-3.png" alt="partner")
		.partner__item
			a.partner__item__link(href="#")
				img.partner__item__img(src="uploads/partner-4.png" alt="partner")