.container
    .services
        //- each service in services
        //-     .services__item
        //-         span= service.img
        //-         h3= service.title
        //-         p= service.text
        .service-item
            span.service-item__icon: i.fa.fa-user(aria-hidden="true")
            .service-item__desc
                h3.service-item__desc__title Branding & Identity
                p.service-item__desc__text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .service-item
            span.service-item__icon: i.fa.fa-user(aria-hidden="true")
            .service-item__desc
                h3.service-item__desc__title Branding & Identity
                p.service-item__desc__text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .service-item
            span.service-item__icon: i.fa.fa-user(aria-hidden="true")
            .service-item__desc
                h3.service-item__desc__title Branding & Identity
                p.service-item__desc__text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .service-item
            span.service-item__icon: i.fa.fa-user(aria-hidden="true")
            .service-item__desc
                h3.service-item__desc__title Branding & Identity
                p.service-item__desc__text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .service-item
            span.service-item__icon: i.fa.fa-user(aria-hidden="true")
            .service-item__desc
                h3.service-item__desc__title Branding & Identity
                p.service-item__desc__text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
        .service-item
            span.service-item__icon: i.fa.fa-user(aria-hidden="true")
            .service-item__desc
                h3.service-item__desc__title Branding & Identity
                p.service-item__desc__text Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.