#mainslide.main-slide
  .slider
    .slider_item
      img(src='uploads/slider-image.jpg', alt='mainslide', width='1600', height='620')
      .slider_info        
          span Can you build the website of my dreams?
          p Yup, we can do that.
          a.slider-btn(href='#') Learn More
    .slider_item
      img(src='uploads/slider-image-2.jpg', alt='mainslide', width='1600', height='620')
      .slider_info             
          span  Lorem ipsum.
          p  Lorem ipsum dolor sit.
          a.slider-btn(href='#') Learn More
    